{
  "proseWrap": "always",
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
